.vs/
packages/

Frontend/obj/
Frontend/bin/
Frontend/wwwroot/

Libs/DbRepositories/obj/
Libs/DbRepositories/bin/

Libs/Core/obj/
Libs/Core/bin/

Libs/Services/obj/
Libs/Services/bin/

Libs/Core.Tests/obj/
Libs/Core.Tests/bin/

Libs/Services.Tests/obj/
Libs/Services.Tests/bin/

